.cart h1 {
  text-align: center;
  line-height: 50px; 
  margin: 10px 10px 20px 30px; 
  color: rgb(245, 173, 48);

}

.product-image-cart {
  float: left;
}

.cart-products h5 {
  color: rgb(245, 173, 48);
}

.cart-products {
    max-width: 1050px;
    margin: 10px auto;
    background-color: white;
    justify-content: space-between;
    line-height: 15px;  
}

.total-amount {
  text-align: center;
  color: rgb(245, 173, 48);
  line-height: 50px;  

}

.checkout-button {
  margin: 0 auto;
}

.trash-icon {
  float: right;
}