.product h2 {
  font-size: 30px;
  text-align: center;
margin: 100px 50px 1000px 20px ;
}

.product-info-div {
  width: 100%;
}

.product-info-div button {
  float: right;
}

.product-div {
  /* width: 950px; */
  max-width: 1050px;
  margin: 10px auto;
  background-color: white;
  /* display: flex; */
  justify-content: space-between;
  line-height: 13px;
}

.product-descr {
  line-height: 30px;
}

.listgroup img {
  max-width: 340px;
  max-height: 250px;
  float: left;
  border: lightgray 5px solid;
  /* margin: -11px 10px -30px -20px; */
}

.product-div h5 {
  color: rgb(245, 173, 48);
}

.product-link:link,
.product-link:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.product-link:hover {
  text-decoration: none;
  color: rgb(69, 69, 69);
}

.product-sell-title {
  text-align: center;
  margin: 45px;
  font-weight: bold;
}

.login-to-sell-link {
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
  max-width: 850px;
  margin: 10px auto;
  line-height: 30px;
  border: lightgrey 2px solid;
  padding: 50px;
  background: white;
  color: rgb(245, 173, 48);
}

.login-to-sell-link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 762px) {
  .listgroup img {
    width: 400px;
    height: 263px;
    margin: -11px 10px -1px -20px;
  }
}