.about main {
  width: 950px;
  margin: 50px auto;
}

.about img {
  width: 50%;
}

.about article {
  height: 360px;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  background-color: white;
}

.about article .about-content {
  padding: 30px 10px;
}

.about article.reverse {
  width: 950px;
  margin: 50px auto;
  flex-direction: row-reverse;
}


.about-content, h1 {
  line-height: 26px;
}

.about-content {
  line-height: 30px;

}