.about article {
  width: 950px;
  height: 360px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.about article .about-content {
  padding: 30px 10px;
}

.about article.reverse {
  width: 950px;
  margin: 50px auto;
  flex-direction: row-reverse;
}

.about article.reverse .about-content {
  padding: 30px 10px;
}

.about img {
  width: 530px;
  height: 358px;
}

.about-content, h1 {
  line-height: 26px;
}