@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 30px auto;
}

p, h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 950px;
  margin: auto;

}