.carousel img {
  max-height: 600px;
}

.carousel {
  position: relative;
  margin: 10px auto;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .carousel {width: 60%; height: 94%;}
}