.carousel-div {
  max-width: 1150px;
  margin: 10px auto;
  text-align: center;
}

.carousel img {
  width: 1860px;
  max-height: 500px;
  overflow: hidden;
}

.carousel {
  position: relative;
  margin: auto;
  cursor: pointer;
}

.carousel-div h2 {
  font-size: 40px;
  text-shadow: black;
}

@media only screen and (min-width: 769px) {
  .carousel {
    max-width: 960px;
  }

  @media only screen and (max-width: 769px) {
    .carousel {
      width: 450px;
    }
  }
}
