.details-btn {
  display: flex;
}

.details {
  max-width: 950px;
  margin: 15px auto;
  line-height: 30px;
  border-bottom: rgb(245, 173, 48) 3px solid;
  /* border: grey 1px solid; */
}

.details_container {
  
}

.details_info {
  max-width: 950px;
  margin: 50px auto;
  border: lightgrey solid 3px;
  padding: 10px 10px 30px;
  line-height: 35px;
  background-color: white;
  text-align: center;
  justify-content: space-around;
}

.details_img-container img {
  margin: 0 auto;
  float: right;
  /* max-width: 390px; */
}

.details__info {
  justify-content: space-between;
}

.details-title {
  text-align: center;
}

.details h3 {
  color: rgb(245, 173, 48);
}

.red {
  color: red;
}

.yellow {
  color: rgb(255, 200, 0);
}

.green {
  color: green;
}

.product-descript {
  max-width: 950px;
  margin: 50px auto;
  border: lightgrey solid 3px;
  padding: 10px 10px 30px;
  line-height: 35px;
  background-color: white;

}