.home-card {
  position: relative;
  margin: 30px auto;
  line-height: 25px;
  text-align: center;
  max-width: 2350px;
}

.image-card-link:link, .image-card-link:visited {
    text-decoration: none;
    color: rgb(33, 32, 32);
    cursor: pointer;
  }
  
  .image-card-link:hover {
    text-decoration: none;
    color: rgb(133, 80, 1);
  }
